@skomiyama:registry="https://git.l.twogate.net/api/v4/projects/1169/packages/npm/"
//git.l.twogate.net/api/v4/packages/npm/:_authToken=csQVz3kmYchs9-8vp3yF}
//git.l.twogate.net/api/v4/projects/1169/packages/npm//:_authToken=csQVz3kmYchs9-8vp3yF
